.le_Globele {
    position: relative;
    border: 1px solid #ccc9c9;
    border-radius: 50%;
    width: 20rem;
    height:20rem;
    padding: 1rem;
  }
  
  .le_ImgHistory {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc9c9;
    padding: 1rem;
  }
  
  .le_ImgHistory img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .le_Globele .le_AllCircle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotateCircle 6s linear infinite;
  }
  
  .le_AllCircle .Circlele1 {
    position: absolute;
    top: 1rem;
    left: 6rem;
  }
  
  .le_AllCircle .Circlele2 {
    position: absolute;
    left: -0.2rem;
    top: 12rem;
  }
  .le_AllCircle img {
    width: 1.2rem;
  }
  
  /*** media qurey ***/
  
  @media (max-width: 991px) {
    .le_Globele {
      padding: 0.8rem;
    }
    .le_ImgHistory {
      padding: 0.8rem;
    }
    .le_AllCircle img {
      width: 1rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .le_Globele {
      width: 22rem;
      height: 22rem;
    }
    .le_AllCircle .Circlele1 {
      position: absolute;
      left: 8rem;
      top: 21.2rem;
    }
  
    .le_AllCircle .Circlele2 {
      position: absolute;
      left: 10rem;
      top: 0.3rem;
    }
  }
  
  @media (min-width: 577px) and (max-width: 767px) {
    .le_Globele {
      width: 16rem;
      height: 16rem;
    }
    .le_AllCircle .Circlele1 {
      position: absolute;
      left: 11rem;
      top: 13.5rem;
    }
  
    .le_AllCircle .Circlele2 {
      position: absolute;
      left: 10rem;
      top: -0.2rem;
    }
  }
  


  @media (max-width: 576px) {
    .le_Globele {
      padding: 0.5rem;
    }
    .le_ImgHistory {
      padding: 0.5rem;
    }
  }
  
  @media (min-width: 480px) and (max-width: 576px) {
    .le_Globele {
      width: 15rem;
      height: 15rem;
    }
    .le_AllCircle .Circlele1 {
      position: absolute;
      left: -0.5rem;
      top: 6rem;
    }
  
    .le_AllCircle .Circlele2 {
      position: absolute;
      left: 9rem;
      top: 0.4rem;
    }
  }
  
  
  @media (min-width: 400px) and (max-width: 479px) {
    .le_AllCircle .Circlele1 {
      position: absolute;
      left: 7rem;
      top: 3.2rem;
    }
  
    .le_AllCircle .Circlele2 {
      position: absolute;
      left: 1rem;
      top: 0.8rem;
    }

    .le_Globele {
      width: 8rem;
      height: 8rem;
    }

    .le_AllCircle img {
      width: 0.5rem;
    }
  }
  
  @media (min-width: 320px) and (max-width: 399px) {
    .le_AllCircle .Circlele1 {
      position: absolute;
      top: 3rem;
      left: -0.1rem;
    }
  
    .le_AllCircle .Circlele2 {
      position: absolute;
      left: 1.6rem;
      top: 0.4rem;
    }
  
    .le_AllCircle img {
      width: 0.5rem;
    }

    .le_Globele {
      width: 5rem;
      height: 5rem;
    }

    .le_AllCircle img {
      width: 0.8rem;
    }
  }
  
 


  /* anime */
  
  @keyframes rotateCircle {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  