 /* @media (max-width: 449px) { 
  .TwIN-logIn,
  .TwIN-basket,
  .TwIN-language,
  .TwIN-logIn,
  .TwIN-darkMode {
    width: 30px;
    height: 30px;
    margin-left: 0.3rem !important;
  }

  .TwIN-logoM{
    width: 5rem;
  }

  .Count{
    width:1rem;
    height: 1rem;
  }
}
 */
